
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    padding:5em;
    position:relative;
    top:8em;
    right:15em;
    z-index:1;
    
    
  }
  .button{
    position:relative;
    left:1em;
    top:30em;
    z-index:1;

    margin-right:1.5em;
  }
  div.item {
    position: absolute;
    width: 20em;
    height: 400px;
    margin:5em;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.50s linear;
    transform: rotateY(calc(-30deg * var(--r)))
      translateX(calc(-200px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    border-radius:35px;
    
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color:transparent;
    height:10em;
    border-radius:35px;

    
  }

  div.item:nth-of-type(1):checked {
    --offset: 1;
    background-color:transparent;
    height:10em;
    opacity:1;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color:transparent;
    height:10em;

  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color:transparent;
    height:10em;

  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color:transparent;
    height:10em;

  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color:transparent;
    height:10em;

  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
    
  }

  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  

/* Mobile (max-width: 600px) */  
  @media (max-width: 600px) {
    .container {
      height: 20em;
      margin: 0;
      display: grid;
      grid-template-rows: 500px 100px;
      grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
      align-items: center;
      justify-items: center;
      position:relative;
      right:9em;
      right:9em;
      top:-2em;
      width:0em;
      z-index:0;
    }
    
    main#carousel {
      grid-row: 1 / 2;
      grid-column: 1 / 8;
      width: 50vw;
      height:15em;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transform-style: preserve-3d;
      perspective: 600px;
      --items: 5;
      --middle: 3;
      --position: 1;
      pointer-events: none;
      position:relative;
      left:10em;
    }
    
    div.item {
      position: absolute;
      width: 300px;
      height: 400px;
      background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.50s linear;
    transform: rotateY(calc(-30deg * var(--r)))
      translateX(calc(-200px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));  
      
    }
    .button{
      position:relative;
      left:11em;
      top:-9em;
    }
    
    div.item:nth-of-type(1) {
      --offset: 1;
      background-color:transparent;
      height:10em;
      
    }
  
    div.item:nth-of-type(1):checked {
      --offset: 1;
      background-color:transparent;
      height:10em;
      opacity:1;
    }
    div.item:nth-of-type(2) {
      --offset: 2;
      background-color:transparent;
      height:10em;
  
    }
    div.item:nth-of-type(3) {
      --offset: 3;
      background-color:transparent;
      height:10em;
  
    }
    div.item:nth-of-type(4) {
      --offset: 4;
      background-color:transparent;
      height:10em;
  
    }
    div.item:nth-of-type(5) {
      --offset: 5;
      background-color:transparent;
      height:10em;
  
    }
    
    input:nth-of-type(1) {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
    input:nth-of-type(1):checked ~ main#carousel {
      --position: 1;
      
    }
  
    
    input:nth-of-type(2) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    input:nth-of-type(2):checked ~ main#carousel {
      --position: 2;
    }
    
    input:nth-of-type(3) {
      grid-column: 4 /5;
      grid-row: 2 / 3;
    }
    input:nth-of-type(3):checked ~ main#carousel {
      --position: 3;
    }
    
    input:nth-of-type(4) {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
    input:nth-of-type(4):checked ~ main#carousel {
      --position: 4;
    }  
  
  }
