

  
  .container {
    width: 100%;
    height: 5.5em;
    left: 50%;
    background-color:transparent;
    margin-left: -50%;
    margin-top: -200px;
    opacity:1;
    position:relative;
    bottom:24.5em;
    z-index:1.5;
  }
  
  .sky {
    opacity: 1;
    width: 100%;
    position:relative;
    
    bottom:0em;
    height: 35.7em;
    background: radial-gradient(at 50% 70%, #820, #610, #400, #100);
    z-index:-1;
    border-radius:0.5em;
    
  }

  
  .sune {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 73%;
    position:absolute;
    opacity:1;
    top:15em;
    z-index:25;
    background: linear-gradient(#ff0, #d00);
    box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
    animation: rise 24s ease forwards;
  }
  
  @keyframes rise {
    0% {
      top: 95%;
    }
    100% {
      top: 14%;
    }
  }
  

  
  @keyframes over {
    0% {
      opacity: 0
    }
    ;
    100% {
      opacity: .2
    }
    ;
  }

 
  
  
  
  @keyframes swim {
    0% {
      left: 100%;
    }
    100% {
      left: -25%
    }
    ;
  }
  
  @keyframes move {
    0% {
      left: 0px;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes mover {
    0% {
      left: -0px;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes flap {
    0% {
      border-radius: 90%;
    }
    100% {
      border-radius: 10%;
    }
  }